<?xml version="1.0" encoding="UTF-8"?>

-<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns="http://www.w3.org/ns/widgets" version="1.0.0" id="com.CualquierNombre">

<name>Contabilidad</name>

<!--nombre de la aplicacion-->


<description>Usar en horizontal </description>

<author email="Juanchitoamador555@gmail.com">Juan Manuel Amador jr.Parra </author>

<content src="index.html"/>

<plugin spec="1" name="cordova-plugin-whitelist"/>

<access origin="*"/>

<allow-intent href="http://*/*"/>

<allow-intent href="https://*/*"/>

<allow-intent href="tel:*"/>

<allow-intent href="sms:*"/>

<allow-intent href="mailto:*"/>

<allow-intent href="geo:*"/>


-<platform name="android">

<allow-intent href="market:*"/>

</platform>


-<platform name="ios">

<allow-intent href="itms:*"/>

<allow-intent href="itms-apps:*"/>

</platform>

<icon src="Icono.jpg"/>

<!--icono de la aplicacion-->


</widget>